<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login Suite">
    <test name="Login Tests">
        <classes>
            <class name="test.TestLogin" />
            <class name="test.TestDashBoard" />
        </classes>
    </test>
</suite>
